body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  height: 80px;
  width: 100%;
  background-color: #65737e;
  margin: 0;
}

.icon {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 50px;
}

.headTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 8px;
}

.App {
  background-color: #c0c5ce;
}

.newsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
