.card {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.container {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  background-color: #343d46;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButtonContainer button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.title {
  margin-top: 10px;
  font-weight: bold;
}

.summary {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  color: white;
  padding-top: 15px;
}

.goToButtonContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.goToButton {
  color: white;
  width: 120px;
  background-color: #343d46;
  border: white 2px solid;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}

.goToButton:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.backgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.4);
  z-index: -1;
}
